
html, body {
    height: 100%;
    padding-top: 0 !important;
}

.c-white {
    color: #fff;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.daterangepicker .ranges li {
    color: #73879C;
}

    .daterangepicker .ranges li.active,
    .daterangepicker .ranges li:hover {
        background: #536A7F;
        border: 1px solid #536A7F;
        color: #fff;
    }

.daterangepicker .input-mini {
    background-color: #eee;
    border: 1px solid #ccc;
    box-shadow: none !important;
}

    .daterangepicker .input-mini.active {
        border: 1px solid #ccc;
    }

.daterangepicker select.monthselect,
.daterangepicker select.yearselect,
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default;
    height: 30px;
    border: 1px solid #ADB2B5;
    line-height: 30px;
    border-radius: 0px !important;
}

.daterangepicker select.monthselect {
    margin-right: 2%;
}

.daterangepicker td.in-range {
    background: #E4E7EA;
    color: #73879C;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #536A7F;
    color: #fff;
}

.daterangepicker th.available:hover {
    background: #eee;
    color: #34495E;
}

.daterangepicker:before,
.daterangepicker:after {
    content: none;
}

.daterangepicker .calendar.single {
    margin: 0 0 4px 0;
}

    .daterangepicker .calendar.single .calendar-table {
        width: 224px;
        padding: 0 0 4px 0 !important;
    }

        .daterangepicker .calendar.single .calendar-table thead tr:first-child th {
            padding: 8px 5px;
        }

        .daterangepicker .calendar.single .calendar-table thead th {
            border-radius: 0;
        }

.daterangepicker.picker_1 {
    color: #fff;
    background: #34495E;
}

    .daterangepicker.picker_1 .calendar-table {
        background: #34495E;
    }

        .daterangepicker.picker_1 .calendar-table thead tr {
            background: #213345;
        }

            .daterangepicker.picker_1 .calendar-table thead tr:first-child {
                background: #1ABB9C;
            }

        .daterangepicker.picker_1 .calendar-table td.off {
            background: #34495E;
            color: #999;
        }

        .daterangepicker.picker_1 .calendar-table td.available:hover {
            color: #34495E;
        }

.daterangepicker.picker_2 .calendar-table thead tr {
    color: #1ABB9C;
}

    .daterangepicker.picker_2 .calendar-table thead tr:first-child {
        color: #73879C;
    }

.daterangepicker.picker_3 .calendar-table thead tr:first-child {
    color: #fff;
    background: #1ABB9C;
}

.daterangepicker.picker_4 .calendar-table thead tr:first-child {
    color: #fff;
    background: #34495E;
}

.daterangepicker.picker_4 .calendar-table td,
.daterangepicker.picker_4 .calendar-table td.off {
    background: #ECF0F1;
    border: 1px solid #fff;
    border-radius: 0;
}

    .daterangepicker.picker_4 .calendar-table td.active {
        background: #34495E;
    }

.calendar-exibit .show-calendar {
    float: none;
    display: block;
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

    .calendar-exibit .show-calendar .calendar {
        margin: 0 0 4px 0;
    }

    .calendar-exibit .show-calendar.picker_1 {
        background: #34495E;
    }

.calendar-exibit .calendar-table {
    padding: 0 0 4px 0;
}

.left_col {
    /*background: #2A3F54*/
    background: #222d32;
}

.nav-sm .col-md-3.left_col {
    min-height: 100%;
    width: 70px;
    padding: 0;
    z-index: 9999;
    position: fixed;
}

    .nav-sm .col-md-3.left_col.menu_fixed {
        position: fixed;
        height: 100%;
    }

    .nav-sm .col-md-3.left_col .mCSB_container,
    .nav-sm .col-md-3.left_col .mCustomScrollBox {
        overflow: visible;
    }

.nav-sm .hidden-small {
    visibility: hidden;
}

.nav-sm .right_col {
    padding: 10px 20px;
    margin-left: 70px;
    z-index: 2;
}

.nav-sm .navbar.nav_title {
    width: 70px;
}

    .nav-sm .navbar.nav_title a span {
        display: none;
    }

    .nav-sm .navbar.nav_title a i {
        font-size: 27px;
        margin: 13px 0 0 3px;
    }

.site_title i {
    border: 1px solid #EAEAEA;
    padding: 5px 6px;
    border-radius: 50%;
}

.nav-sm .main_container .top_nav {
    display: block;
    margin-left: 70px;
    z-index: 2;
}

.nav-sm .nav.side-menu li a {
    text-align: center !important;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px;
}

.nav-sm .nav.child_menu li.active,
.nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid #1ABB9C;
}

    .nav-sm ul.nav.child_menu ul,
    .nav-sm .nav.side-menu li.active-sm ul ul {
        position: static;
        width: 200px;
        background: none;
    }

.nav-sm > .nav.side-menu > li.active-sm > a {
    color: #1ABB9C !important;
}

.nav-sm .nav.side-menu li a i.toggle-up {
    display: none !important;
}

.nav-sm .nav.side-menu li a i {
    font-size: 25px !important;
    text-align: center;
    width: 100% !important;
    margin-bottom: 5px;
}

.nav-sm ul.nav.child_menu {
    left: 100%;
    position: absolute;
    top: 0;
    width: 210px;
    z-index: 4000;
    background: #3E5367;
    display: none;
}

    .nav-sm ul.nav.child_menu li {
        padding: 0 10px;
    }

        .nav-sm ul.nav.child_menu li a {
            text-align: left !important;
        }

.nav-sm .profile {
    display: none;
}

.menu_section {
    margin-bottom: 35px;
}

    .menu_section h3 {
        padding-left: 15px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-weight: bold;
        font-size: 11px;
        margin-bottom: 0;
        margin-top: 0;
        text-shadow: 1px 1px #000;
    }

    .menu_section > ul {
        margin-top: 10px;
    }

.profile_pic {
    width: 35%;
    float: left;
}

.img-circle.profile_img {
    width: 70%;
    background: #fff;
    margin-left: 15%;
    z-index: 1000;
    position: inherit;
    margin-top: 20px;
    border: 1px solid rgba(52, 73, 94, 0.44);
    padding: 4px;
}

.profile_info {
    padding: 25px 10px 10px;
    width: 65%;
    float: left;
}

    .profile_info span {
        font-size: 13px;
        line-height: 30px;
        color: #BAB8B8;
    }

    .profile_info h2 {
        font-size: 14px;
        color: #ECF0F1;
        margin: 0;
        font-weight: 300;
    }

.profile.img_2 {
    text-align: center;
}

    .profile.img_2 .profile_pic {
        width: 100%;
    }

        .profile.img_2 .profile_pic .img-circle.profile_img {
            width: 50%;
            margin: 10px 0 0;
        }

    .profile.img_2 .profile_info {
        padding: 15px 10px 0;
        width: 100%;
        margin-bottom: 10px;
        float: left;
    }

.main_menu span.fa {
    float: right;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    min-width: inherit;
    color: #C4CFDA;
}

.active a span.fa {
    text-align: right !important;
    margin-right: 4px;
}

.nav-sm .menu_section {
    margin: 0;
}

    .nav-sm span.fa,
    .nav-sm .menu_section h3 {
        display: none;
    }

.nav-sm li li span.fa {
    display: inline-block;
}

.nav_menu {
    float: left;
    /*background: #f7f7f7;*/
    background: #3c8dbc;
    border-bottom: 1px solid #D9DEE4;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

@media (min-width: 480px) {
    .nav_menu {
        position: fixed;
    }
}

.nav-md .col-md-3.left_col {
    min-height: 100%;
    width: 230px;
    padding: 0;
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
}

    .nav-md .col-md-3.left_col.menu_fixed {
        height: 100%;
        position: fixed;
    }

body .right_col {
    /*background: #F7F7F7*/
    background: #ecf0f5;
}

body {
    background: #ecf0f5 !important;
}

.nav-md .right_col {
    padding: 80px 20px 0px;
    margin-left: 230px;
    /*min-height: 734px;*/
}

.nav_title {
    width: 230px;
    float: left;
    background: #2A3F54;
    border-radius: 0;
    height: 57px;
}

@media (max-width: 991px) {
    .nav-md .right_col,
    .nav-md .top_nav {
        width: 100%;
        margin: 0;
    }

    .nav-md .col-md-3.left_col {
        display: none;
    }

    .nav-md .right_col {
        width: 100%;
        padding-right: 0;
    }

    .right_col {
        padding: 10px !important;
    }
}

@media (max-width: 1200px) {
    .x_title h2 {
        width: 62%;
        font-size: 17px;
    }

    .tile,
    .graph {
        zoom: 85%;
        height: inherit;
    }
}

@media (max-width: 1270px) and (min-width: 192px) {
    .x_title h2 small {
        display: none;
    }
}

.left_col .mCSB_scrollTools {
    width: 6px;
}

.left_col .mCSB_dragger {
    max-height: 400px !important;
}

.blue {
    color: #3498DB;
}

.purple {
    color: #9B59B6;
}

.green {
    color: #1ABB9C;
}

.aero {
    color: #9CC2CB;
}

.red {
    color: #E74C3C;
}

.dark {
    color: #34495E;
}

.border-blue {
    border-color: #3498DB !important;
}

.border-purple {
    border-color: #9B59B6 !important;
}

.border-green {
    border-color: #1ABB9C !important;
}

.border-aero {
    border-color: #9CC2CB !important;
}

.border-red {
    border-color: #E74C3C !important;
}

.border-dark {
    border-color: #34495E !important;
}

.bg-white {
    background: #fff !important;
    border: 1px solid #fff !important;
    color: #73879C;
}

.bg-green {
    background: #1ABB9C !important;
    border: 1px solid #1ABB9C !important;
    color: #fff;
}

.bg-red {
    background: #E74C3C !important;
    border: 1px solid #E74C3C !important;
    color: #fff;
}

.bg-blue {
    background: rgb(60, 141, 188) !important;
    border: 1px solid #2d7198 !important;
    color: #fff !important;
}

.bg-orange {
    background: #F39C12 !important;
    border: 1px solid #F39C12 !important;
    color: #fff;
}

.bg-purple {
    background: #9B59B6 !important;
    border: 1px solid #9B59B6 !important;
    color: #fff;
}

.bg-blue-sky {
    background: #50C1CF !important;
    border: 1px solid #50C1CF !important;
    color: #fff;
}

.container {
    width: 100%;
    padding: 0;
}

.navbar-nav > li > a,
.navbar-brand,
.navbar-nav > li > a {
    color: #fff !important;
}

.top_nav .nav > li > a:focus,
.top_nav .nav > li > a:hover,
.top_nav .nav .open > a,
.top_nav .nav .open > a:focus,
.top_nav .nav .open > a:hover {
    background: #367fa9;
}

body {
    color: #73879C;
    background: #2A3F54;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

.main_container .top_nav {
    display: block;
    margin-left: 230px;
}

.no-padding {
    padding: 0 !important;
}

.page-title {
    width: 100%;
    height: 65px;
    padding: 10px 0;
}

    .page-title .title_left {
        width: 45%;
        float: left;
        display: block;
    }

        .page-title .title_left h3 {
            margin: 9px 0;
        }

    .page-title .title_right {
        width: 55%;
        float: left;
        display: block;
    }

        .page-title .title_right .pull-right {
            margin: 10px 0;
        }

.fixed_height_320 {
    height: 320px;
}

.fixed_height_390 {
    height: 390px;
}

.fixed_height_200 {
    height: 200px;
}

.overflow_hidden {
    overflow: hidden;
}

.progress-bar-dark {
    background-color: #34495E !important;
}

.progress-bar-gray {
    background-color: #BDC3C7 !important;
}

table.no-margin .progress {
    margin-bottom: 0;
}

.main_content {
    padding: 10px 20px;
}

.col-md-55 {
    width: 50%;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .col-md-55 {
        width: 20%;
    }
}

@media (min-width: 992px) {
    .col-md-55 {
        width: 20%;
    }
}

@media (min-width: 1200px) {
    .col-md-55 {
        width: 20%;
    }
}

@media (min-width: 192px) and (max-width: 1270px) {
    table.tile_info span.right {
        margin-right: 7px;
        float: left;
    }
}

.center-margin {
    margin: 0 auto;
    float: none !important;
}

.col-md-55,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.grid_slider .col-md-6 {
    padding: 0 40px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #5A738E;
    text-decoration: none;
}

    a,
    a:visited,
    a:focus,
    a:active,
    :visited,
    :focus,
    :active,
    .btn:focus,
    .btn:active:focus,
    .btn.active:focus,
    .btn.focus,
    .btn:active.focus,
    .btn.active.focus {
        outline: 0;
    }

        a:hover,
        a:focus {
            text-decoration: none;
        }

.navbar {
    margin-bottom: 0;
}

.navbar-header {
    background: #34495E;
}

.navbar-right {
    margin-right: 0;
}

.top_nav .navbar-right {
    margin: 0;
    width: 70%;
    float: right;
}

    .top_nav .navbar-right li {
        display: inline-block;
        float: right;
        position: static;
    }

@media (min-width: 480px) {
    .top_nav .navbar-right li {
        position: relative;
    }
}

/* 480 media END */

.top_nav .dropdown-menu li {
    width: 100%;
}

    .top_nav .dropdown-menu li a {
        width: 100%;
        padding: 12px 20px;
        transition: 0.3s;
    }

        .top_nav .dropdown-menu li a:hover {
            background: #3c8dbc;
            color: #ffffff;
        }

.top_nav .dropdown-menu li {
    width: 100%;
    border-bottom: 1px solid #307298;
}

    .top_nav .dropdown-menu li:nth-lastchild {
    }

ul.dropdown-menu.dropdown-usermenu {
    padding-top: 0;
    padding-bottom: 0;
}

.top_nav li a i {
    font-size: 15px;
}

.navbar-static-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.sidebar-header {
    border-bottom: 0;
    margin-top: 46px;
}

    .sidebar-header:first-of-type {
        margin-top: 0;
    }

.nav.side-menu > li {
    position: relative;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}

    .nav.side-menu > li:hover {
        background: #000;
    }

    .nav.side-menu > li > a {
        margin-bottom: 6px;
    }

        .nav.side-menu > li > a:hover {
            color: #F2F5F7 !important;
        }

        .nav.side-menu > li > a:hover,
        .nav > li > a:focus {
            text-decoration: none;
            background: transparent;
        }

.nav.child_menu {
    display: none;
}

    .nav.child_menu li:hover,
    .nav.child_menu li.active {
        background-color: rgba(255, 255, 255, 0.06);
    }

    .nav.child_menu li {
        padding-left: 36px;
    }

.nav-md ul.nav.child_menu li:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%;
}

.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
}

.nav.side-menu > li > a,
.nav.child_menu > li > a {
    color: #E7E7E7;
    font-weight: 500;
}

.nav.child_menu li li:hover,
.nav.child_menu li li.active {
    background: none;
}

.nav.child_menu li li a:hover,
.nav.child_menu li li a.active {
    color: #fff;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 13px 15px 12px;
    text-transform: uppercase;
}

a.dropdown-toggle.info-number {
    line-height: 25px;
}

.nav.side-menu > li.current-page,
.nav.side-menu > li.active {
    /*border-right: 5px solid #1ABB9C*/
    border-right: 5px solid #3c8dbc;
}

.nav li.current-page {
    background: rgba(255, 255, 255, 0.05);
}

.nav li li li.current-page {
    background: none;
}

.nav li li.current-page a {
    color: #fff;
}

.nav.side-menu > li.active > a {
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    /*background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;*/
    background: #2c3b41;
}

.navbar-brand,
.navbar-nav > li > a {
    font-weight: 500;
    color: #ECF0F1 !important;
    margin-left: 0 !important;
    line-height: 32px;
}

.site_title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    color: #ECF0F1 !important;
    margin-left: 0 !important;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0;
    padding-left: 20px;
}

    .site_title:hover,
    .site_title:focus {
        text-decoration: none;
    }

.nav.navbar-nav > li > a {
    color: #fff !important;
}

.nav.top_menu > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #34495E !important;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent;
}

.top_search {
    padding: 0;
}

    .top_search .form-control {
        border-right: 0;
        box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
        border-radius: 25px 0px 0px 25px;
        padding-left: 20px;
        border: 1px solid rgba(221, 226, 232, 0.49);
    }

        .top_search .form-control:focus {
            border: 1px solid rgba(221, 226, 232, 0.49);
            border-right: 0;
        }

    .top_search .input-group-btn button {
        border-radius: 0px 25px 25px 0px;
        border: 1px solid rgba(221, 226, 232, 0.49);
        border-left: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        color: #93A2B2;
        margin-bottom: 0 !important;
    }

.toggle {
    float: left;
    margin: 0;
    padding-top: 0;
    width: 70px;
}

    .toggle a {
        padding: 15px 15px 0;
        margin: 0;
        cursor: pointer;
        color: #ffffff;
        /*background: #324a63;*/
        background: #3c8dbc;
        height: 56px;
        display: inline-block;
    }

.panel-default > .panel-heading {
    font-size: 16px;
    color: #2a3f54;
    font-weight: 600;
}

.toggle a:hover {
    color: #000;
}

.toggle a i {
    font-size: 24px;
}

.nav.child_menu > li > a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
    padding: 9px;
    transition: 0.3s;
}

ul.child_menu li > a:hover {
    color: #FFF;
    background: none;
}

.panel_toolbox {
    float: right;
    min-width: 70px;
}

    .panel_toolbox > li {
        float: left;
        cursor: pointer;
    }

        .panel_toolbox > li > a {
            padding: 5px;
            color: #C5C7CB;
            font-size: 14px;
        }

            .panel_toolbox > li > a:hover {
                background: #F5F7FA;
            }

.line_30 {
    line-height: 30px;
}

.main_menu_side {
    padding: 0;
}

.bs-docs-sidebar .nav > li > a {
    display: block;
    padding: 4px 6px;
}

footer {
    background: #2c3b41;
    padding: 8px 20px;
    display: block;
    color: #fff;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
}

.footer-list {
    list-style: none;
    margin: 0;
}

    .footer-list li {
    }

        .footer-list li a {
            color: #fff;
        }

.nav-sm footer {
    margin-left: 70px;
}

.footer_fixed footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

@media (min-width: 768px) {
    .footer_fixed footer {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .footer_fixed .nav-sm footer {
        margin-left: 0;
    }
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

#left,
#right {
    display: table;
}

#sup {
    display: table-cell;
    vertical-align: middle;
    width: 80%;
}

.dropdown-menu.msg_list span {
    white-space: normal;
}

.dropdown-menu {
    border: medium none;
    box-shadow: none;
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 9998;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

    .dropdown-menu > li > a {
        color: #fff !important;
    }

.navbar-nav .open .dropdown-menu {
    position: absolute;
    background: #367fa9;
    margin-top: 0;
    border: 1px solid #D9DEE4;
    -webkit-box-shadow: none;
    right: 0;
    left: auto;
    width: 220px;
}

    .navbar-nav .open .dropdown-menu.msg_list {
        width: 300px;
    }

.info-number .badge {
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 6px;
    position: absolute;
    right: 2px;
    top: 8px;
}

ul.to_do {
    padding: 0;
}

    ul.to_do li {
        background: #f3f3f3;
        border-radius: 3px;
        position: relative;
        padding: 7px;
        margin-bottom: 5px;
        list-style: none;
    }

    ul.to_do p {
        margin: 0;
    }

.dashboard-widget {
    background: #f6f6f6;
    border-top: 5px solid #79C3DF;
    border-radius: 3px;
    padding: 5px 10px 10px;
}

    .dashboard-widget .dashboard-widget-title {
        font-weight: normal;
        border-bottom: 1px solid #c1cdcd;
        margin: 0 0 10px 0;
        padding-bottom: 5px;
        padding-left: 40px;
        line-height: 30px;
    }

        .dashboard-widget .dashboard-widget-title i {
            font-size: 100%;
            margin-left: -35px;
            margin-right: 10px;
            color: #33a1c9;
            padding: 3px 6px;
            border: 1px solid #abd9ea;
            border-radius: 5px;
            background: #fff;
        }

ul.quick-list {
    width: 45%;
    padding-left: 0;
    display: inline-block;
}

    ul.quick-list li {
        padding-left: 10px;
        list-style: none;
        margin: 0;
        padding-bottom: 6px;
        padding-top: 4px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

        ul.quick-list li i {
            padding-right: 10px;
            color: #757679;
        }

.dashboard-widget-content {
    padding-top: 9px;
}

    .dashboard-widget-content .sidebar-widget {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        background: #fff;
        border: 1px solid #abd9ea;
        border-radius: 5px;
        text-align: center;
        float: right;
        padding: 2px;
        margin-top: 10px;
    }

.widget_summary {
    width: 100%;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

    .widget_summary .w_left {
        float: left;
        text-align: left;
    }

    .widget_summary .w_center {
        float: left;
    }

    .widget_summary .w_right {
        float: left;
        text-align: right;
    }

        .widget_summary .w_right span {
            font-size: 20px;
        }

.w_20 {
    width: 20%;
}

.w_25 {
    width: 25%;
}

.w_55 {
    width: 55%;
}

h5.graph_title {
    text-align: left;
    margin-left: 10px;
}

    h5.graph_title i {
        margin-right: 10px;
        font-size: 17px;
    }

span.right {
    float: right;
    font-size: 14px !important;
}

.tile_info a {
    text-overflow: ellipsis;
}

.sidebar-footer {
    bottom: 0px;
    clear: both;
    display: block;
    padding: 5px 0 0 0;
    position: fixed;
    width: 230px;
    background: #3c8dbc;
    z-index: 999;
}

    .sidebar-footer a {
        padding: 7px 0 3px;
        text-align: center;
        width: 25%;
        font-size: 17px;
        display: block;
        float: left;
        background: #2c3b41;
        cursor: pointer;
        color: #fff;
    }

        .sidebar-footer a:hover {
            background: #367fa9;
            color: #fff;
        }

.tile_count {
    margin-bottom: 20px;
    margin-top: 20px;
}

    .tile_count .tile_stats_count {
        border-bottom: 1px solid #D9DEE4;
        padding: 0 10px 0 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
    }

@media (min-width: 992px) {
    footer {
        /*margin-left: 230px*/
    }
}

@media (min-width: 992px) {
    .tile_count .tile_stats_count {
        margin-bottom: 10px;
        border-bottom: 0;
        padding-bottom: 10px;
    }
}

.tile_count .tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
}

@media (min-width: 992px) {
    .tile_count .tile_stats_count:first-child:before {
        border-left: 0;
    }
}

.tile_count .tile_stats_count .count {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600;
}

@media (min-width: 768px) {
    .tile_count .tile_stats_count .count {
        font-size: 40px;
    }
}

@media (min-width: 992px) and (max-width: 1100px) {
    .tile_count .tile_stats_count .count {
        font-size: 30px;
    }
}

.tile_count .tile_stats_count span {
    font-size: 12px;
}

@media (min-width: 768px) {
    .tile_count .tile_stats_count span {
        font-size: 13px;
    }
}

.fontawesome-icon-list .fa-hover a:hover {
    background-color: #ddd;
    color: #fff;
    text-decoration: none;
}

.fontawesome-icon-list .fa-hover a {
    display: block;
    line-height: 32px;
    height: 32px;
    padding-left: 10px;
    border-radius: 4px;
}

    .fontawesome-icon-list .fa-hover a:hover .fa {
        font-size: 28px;
        vertical-align: -6px;
    }

    .fontawesome-icon-list .fa-hover a .fa {
        width: 32px;
        font-size: 16px;
        display: inline-block;
        text-align: right;
        margin-right: 10px;
    }

.main_menu .fa {
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.panel.panel-default {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}

.active-validation .height-validation {
    display: inline-block;
}

input, select, textarea {
    max-width: 100% !important;
}


.video-play {
    text-align: center;
}

    .video-play video {
        border-radius: 5px;
        max-width: 100%;
    }

.navbar.nav_title {
    border: 0;
    background: #367fa9;
    border-radius: 0;
}

/* HOME PAGE DESIGN */

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 30px;
}

    .info-box small {
        font-size: 14px;
    }

    .info-box .progress {
        background: rgba(0, 0, 0, 0.2);
        margin: 5px -10px 5px -10px;
        height: 2px;
    }

        .info-box .progress, .info-box .progress .progress-bar {
            border-radius: 0;
        }

            .info-box .progress .progress-bar {
                background: #fff;
            }

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
}

    .info-box-icon > img {
        max-width: 100%;
    }

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box-text {
    text-transform: uppercase;
}

.info-box-more {
    display: block;
}

.progress-description {
    margin: 0;
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #00c0ef !important;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

    .box.box-primary {
        border-top-color: #3c8dbc;
    }

    .box.box-info {
        border-top-color: #00c0ef;
        padding-bottom: 10px;
    }

.box-footer {
    padding-right: 10px;
}

.box.box-danger {
    border-top-color: #dd4b39;
}

.box.box-warning {
    border-top-color: #f39c12;
}

.box.box-success {
    border-top-color: #00a65a;
}

.box.box-default {
    border-top-color: #d2d6de;
}

.box.collapsed-box .box-body, .box.collapsed-box .box-footer {
    display: none;
}

.box .nav-stacked > li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
}

    .box .nav-stacked > li:last-of-type {
        border-bottom: none;
    }

.box.height-control .box-body {
    max-height: 300px;
    overflow: auto;
}

.box .border-right {
    border-right: 1px solid #f4f4f4;
}

.box .border-left {
    border-left: 1px solid #f4f4f4;
}

.box.box-solid {
    border-top: 0;
}

    .box.box-solid > .box-header .btn.btn-default {
        background: transparent;
    }

    .box.box-solid > .box-header .btn:hover, .box.box-solid > .box-header a:hover {
        background: rgba(0, 0, 0, 0.1);
    }

    .box.box-solid.box-default {
        border: 1px solid #d2d6de;
    }

        .box.box-solid.box-default > .box-header {
            color: #444;
            background: #d2d6de;
            background-color: #d2d6de;
        }

            .box.box-solid.box-default > .box-header a, .box.box-solid.box-default > .box-header .btn {
                color: #444;
            }

    .box.box-solid.box-primary {
        border: 1px solid #3c8dbc;
    }

        .box.box-solid.box-primary > .box-header {
            color: #fff;
            background: #3c8dbc;
            background-color: #3c8dbc;
        }

            .box.box-solid.box-primary > .box-header a, .box.box-solid.box-primary > .box-header .btn {
                color: #fff;
            }

    .box.box-solid.box-info {
        border: 1px solid #00c0ef;
    }

        .box.box-solid.box-info > .box-header {
            color: #fff;
            background: #00c0ef;
            background-color: #00c0ef;
        }

            .box.box-solid.box-info > .box-header a, .box.box-solid.box-info > .box-header .btn {
                color: #fff;
            }

    .box.box-solid.box-danger {
        border: 1px solid #dd4b39;
    }

        .box.box-solid.box-danger > .box-header {
            color: #fff;
            background: #dd4b39;
            background-color: #dd4b39;
        }

            .box.box-solid.box-danger > .box-header a, .box.box-solid.box-danger > .box-header .btn {
                color: #fff;
            }

    .box.box-solid.box-warning {
        border: 1px solid #f39c12;
    }

        .box.box-solid.box-warning > .box-header {
            color: #fff;
            background: #f39c12;
            background-color: #f39c12;
        }

            .box.box-solid.box-warning > .box-header a, .box.box-solid.box-warning > .box-header .btn {
                color: #fff;
            }

    .box.box-solid.box-success {
        border: 1px solid #00a65a;
    }

        .box.box-solid.box-success > .box-header {
            color: #fff;
            background: #00a65a;
            background-color: #00a65a;
        }

            .box.box-solid.box-success > .box-header a, .box.box-solid.box-success > .box-header .btn {
                color: #fff;
            }

    .box.box-solid > .box-header > .box-tools .btn {
        border: 0;
        box-shadow: none;
    }

    .box.box-solid[class*='bg'] > .box-header {
        color: #fff;
    }

.box .box-group > .box {
    margin-bottom: 5px;
}

.box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
}

.box > .overlay, .overlay-wrapper > .overlay, .box > .loading-img, .overlay-wrapper > .loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box .overlay, .overlay-wrapper .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}

    .box .overlay > .fa, .overlay-wrapper .overlay > .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
        color: #000;
        font-size: 30px;
    }

    .box .overlay.dark, .overlay-wrapper .overlay.dark {
        background: rgba(0, 0, 0, 0.5);
    }

.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
    content: " ";
    display: table;
}

.box-header:after, .box-body:after, .box-footer:after {
    clear: both;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

    .box-header.with-border {
        border-bottom: 1px solid #f4f4f4;
    }

.collapsed-box .box-header.with-border {
    border-bottom: none;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion {
    margin-right: 5px;
}

.box-header > .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

    .box-header > .box-tools [data-toggle="tooltip"] {
        position: relative;
    }

    .box-header > .box-tools.pull-right .dropdown-menu {
        right: 0;
        left: auto;
    }

    .box-header > .box-tools .dropdown-menu > li > a {
        color: #444 !important;
    }

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}

.box.box-danger {
    border-top-color: #dd4b39;
}

.no-padding {
    padding: 0 !important;
}

.list-unstyled, .chart-legend, .contacts-list, .users-list, .mailbox-attachments {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .users-list > li {
        width: 25%;
        float: left;
        padding: 10px;
        text-align: center;
    }

        .users-list > li img {
            border-radius: 50%;
            max-width: 100%;
            height: auto;
        }

.users-list-name {
    font-weight: 600;
    color: #444;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.users-list-date {
    color: #999;
    font-size: 12px;
}

.users-list-name, .users-list-date {
    display: block;
}
/* progress bar*/

.progress, .progress > .progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .progress, .progress > .progress-bar, .progress .progress-bar, .progress > .progress-bar .progress-bar {
        border-radius: 1px;
    }

        .progress.sm, .progress-sm {
            height: 10px;
        }

            .progress.sm, .progress-sm, .progress.sm .progress-bar, .progress-sm .progress-bar {
                border-radius: 1px;
            }

        .progress.xs, .progress-xs {
            height: 7px;
        }

            .progress.xs, .progress-xs, .progress.xs .progress-bar, .progress-xs .progress-bar {
                border-radius: 1px;
            }

        .progress.xxs, .progress-xxs {
            height: 3px;
        }

            .progress.xxs, .progress-xxs, .progress.xxs .progress-bar, .progress-xxs .progress-bar {
                border-radius: 1px;
            }

        .progress.vertical {
            position: relative;
            width: 30px;
            height: 200px;
            display: inline-block;
            margin-right: 10px;
        }

            .progress.vertical > .progress-bar {
                width: 100%;
                position: absolute;
                bottom: 0;
            }

            .progress.vertical.sm, .progress.vertical.progress-sm {
                width: 20px;
            }

            .progress.vertical.xs, .progress.vertical.progress-xs {
                width: 10px;
            }

            .progress.vertical.xxs, .progress.vertical.progress-xxs {
                width: 3px;
            }

.progress-group .progress-text {
    font-weight: 600;
}

.progress-group .progress-number {
    float: right;
}

.table tr > td .progress {
    margin: 0;
}

.progress-bar-light-blue, .progress-bar-primary {
    background-color: #3c8dbc !important;
}

.progress-striped .progress-bar-light-blue, .progress-striped .progress-bar-primary {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-green, .progress-bar-success {
    background-color: #00a65a !important;
}

.progress-striped .progress-bar-green, .progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-aqua, .progress-bar-info {
    background-color: #00c0ef !important;
}

.progress-striped .progress-bar-aqua, .progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-yellow, .progress-bar-warning {
    background-color: #f39c12 !important;
}

.progress-striped .progress-bar-yellow, .progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-red, .progress-bar-danger {
    background-color: #dd4b39 !important;
}

.progress-striped .progress-bar-red, .progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}

.text-red {
    color: #dd4b39 !important;
}

.description-block > .description-header {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
}

.description-block > .description-text {
    text-transform: uppercase;
}

.completion-box .progress-group {
    padding: 0 15px;
}

.box.completion-box {
    padding-bottom: 1px;
    margin-bottom: 0;
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #dd4b39 !important;
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #00c0ef !important;
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #00a65a !important;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.block-3 .info-box-content {
    color: #fff;
}

.info-box-text {
    text-transform: uppercase;
}

.info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.info-box .progress .progress-bar {
    border-radius: 0;
}


.info-box .progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
}

.progress-description {
    margin: 0;
}


.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.site_title img {
    margin-top: -6px;
}

.site_title span {
    color: #fff;
}
/* HOME PAGE DESIGN END */

/*@charset "utf-8";*/
/* new CSS Document  */

.tab_list {
    width: 1170px;
    margin: auto;
}

div.accordion {
    color: #444;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom: 2px solid #ccc;
    max-height: 40px;
    position: relative;
}

.accordion ul li i.fa-check {
    color: green;
}

div.accordion:after {
    content: '\f107';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-family: "FontAwesome";
    display: inline-block;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 0;
}

.divpanel {
    padding: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: max-height 0.6s ease-out;
}

div.accordion.active:after {
    content: "\f106";
    font-family: "FontAwesome";
}

div.panel {
    padding: 0;
    background-color: white;
    /*max-height: 0;*/
    /*overflow: hidden;*/
    width: 100%;
    transition: max-height 0.6s ease-out;
}

div.divpanel {
    padding: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: max-height 0.6s ease-out;
}



div.accordion ul {
    padding-left: 0px;
    list-style: none;
    display: block;
}

    div.accordion ul li {
        display: inline-block;
        width: 10%;
    }

div.divpanel ul {
}

    div.divpanel ul li span {
        padding-left: 20px;
    }

div.accordion ul li:first-child {
    width: 68%;
    font-size: 20px;
}

    div.accordion ul li:first-child i {
        padding-right: 10px;
    }

div.divpanel ul {
    padding-left: 0px;
    list-style: none;
    display: block;
}

    div.divpanel ul li {
        display: inline-block;
        width: 10%;
    }

        div.divpanel ul li:first-child {
            width: 68%;
        }
.topicSize{
    float:left; width:23% !important;
}
