@charset "utf-8";
/* CSS Document */

@media (max-width:767px){
.logo{
width:100%;
margin-bottom:15px;
}
.right_head {
    display: block;
    width: 100%;
    text-align: left;
	font-size:17px;
	
}
.search-course input{
height:46px;
}
.search-course a{
padding:12px 7px;
}
.menu{
    background-color: #eb6528;
	margin-top:20px;
}
.cont_botm{
bottom:0px;
margin-top:10px;
}
.b_r-n{
border-right:0px;
}
.instructor{
margin:30px 0px;
}
.h_courses h2{
font-size:25px;
}
.training_sec{
text-align:center;
}
.footer_sec h3:after{
top:29px;
}
.footer_sec h3{
margin-bottom:15px;
}
.b_footer p{
font-size:12px;
}
.h_courses h2:before{
top:35px;
}
.tm_search_input{
padding:15px 15px;
}
.button-search{
padding:3px 20px;
}
.con_one{
width:100%;
}
.b_text h2{
font-size:16px;
margin:0;
}
.tmsearch{
width:100%;
margin-top:10px;
}
.right_head a{
font-size:14px;
}
.menu ul li.login_sign{
width:100%;
display:block;
}
.menu ul li.login_sign a{
width:100%;
margin-bottom:20px;
}
.affix-top{top:0px;}
.b_text{
width:100%;
}
.b_absolute{
width:100%;
}

/*.img_hov{
background-color:transparent;
}*/
.p_0{
padding:0px;
}
.p_15{
margin:0px;
}
.footer_sec{
margin-left:0px;
}
a.l_s_btn{
margin-left:0px;
padding:5px 12px;
}
.training_sec:hover .img_hov{
display:none;
}
/*--deatil--*/
.d_inline ul {
    width: 100%;
    text-align: left;
}
.c_img{
text-align:center;
}
.d_inline h2{
width:100%;
}
.course_bar span{
width:35%;
text-align:center;
}
.admin-name{
width:63%;

}


}



@media (min-width:768px) and (max-width:995px){
.logo{
width:30%;
}
.right_head{
width:69%;
}
.cont_botm{
bottom:0px;
font-size:0;
}
a.menu-mobile{
background-color:#eb6528;
}
.con_one span{
display:block;
text-align:center;
}
.b_r-n{
border-right:none;
}
.sec_img{
text-align:center;
}

/*--detail--*/
.admin-name {
    width: 86%;

}
.d_inline ul{
width:44%;
}
.course_bar{
text-align:center;
}
}
@media (min-width:996px) and (max-width:1024px){
.logo{
width:29%;
}
.right_head{
width:70%;
}
.course_bar{
text-align:center;
}

}
@media (min-width:1025px) and (max-width:1500px){
/*--detail--*/
.d_inline ul{
width:541px;
}
.admin-name{
width:146px;
}



.logo{
width:29%;
}
.right_head{
width:70%;
}

}