﻿@model OnlineTraining.Models.SectionViewModel

@{
    ViewBag.Title = "AllSections";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>AllSections</h3>
<div class="panel panel-default">
    <div class="panel-heading bg-blue">
        Manage Sections<div class="pull-right" style="margin-top: -4px;">
        </div>
    </div>
    <div class="panel-body">

        <table class="table table-bordered table-striped">
            <tr>

                <th>
                    CourseName
                </th>
                <th>
                    SectionName
                </th>
                <th>
                    Status
                </th>

                <th>
                    Updated Date
                </th>

            </tr>


            @foreach (var item in Model.SectionList)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                        @Html.HiddenFor(odelItem => item.CourseId)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SectionName)
                        @Html.HiddenFor(odelItem => item.SectionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>

                    <td>
                        @item.UpdatedDate.ToShortDateString()
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>*@
                </tr>
            }

        </table>
</div>
</div>