﻿@model OnlineTraining.Models.CourseViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@


@*@using (Html.BeginForm("Course", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))*@
@using (Ajax.BeginForm("SaveCourse", "Admin", new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess", UpdateTargetId = "ManageNewCoursesList", LoadingElementId = "loader" }))

{
   

    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading bg-blue">Add Courses </div>
        <div class="panel-body">
            <div class="row ">
                <div class="col-md-3 col-sm-6 col-xs-12 ">
                    <div class="height-validation">

                        @Html.LabelFor(m => m.CourseName, new { @class = "control-label" })

                        @Html.TextBoxFor(m => m.CourseName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CourseName, null, new { @class = "text-danger" })

                        @Html.HiddenFor(m => m.CourseId, new { @class = "form-control" })

                        @*<input id="CourseId" name="CourseId" value="" type="hidden">
                            <input id="SubCourseId" name="SubCourseId" value="" type="hidden">
                            <input class=" form-control" data-val="true" data-val-length="The CourseName must be at least 0 characters long" data-val-length-max="40" data-val-required="Course name is required" id="CourseName" maxlength="40" name="CourseName" value="" type="text">
                            <span class="field-validation-valid text-danger" data-valmsg-for="CourseName" data-valmsg-replace="true"></span>*@
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 ">
                    <div class="height-validation">

                        @Html.LabelFor(m => m.Description, new { @class = "control-label" })

                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })

                    </div>
                </div>



                <div class="col-md-2 col-sm-6 col-xs-12 ">
                    <div class="height-validation">
                        @Html.LabelFor(m => m.IsActive, new { @class = "control-label" })
                        <br />
                        @Html.CheckBoxFor(m => m.IsActive)
                        @Html.ValidationMessageFor(m => m.IsActive, null, new { @class = "text-danger" })


                    </div>
                </div>

             

               

                <div class="col-md-3 col-sm-6 col-xs-12 ">
                    <div class="">
                        <label>&nbsp;</label><br class="hidden-xs">
                        <button type="submit" id="btnSaveUpdate" class="btn btn-primary">Add</button>
                        <button type="reset" onclick="$(this).resetValidation()" id="btnClear" class="btn btn-danger ">Clear</button>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    @Html.Partial("_CourseList", Model)
}

<script>
    $(document).ready(function () {
        // alert('master');
    });
    function OnSuccess() {
        $("#CourseName").val('');
        $("#Description").val('');
        $("#IsActive").prop('checked', false);
        alert("Course Added");
    }
</script>



