﻿
@model OnlineTraining.Models.CourseSectionsTopics
@{
    ViewBag.Title = "GetCourse";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}



<div style="height:30px;">
    @Model.CourseName
    <input type="hidden" id="hidcourse" value="@Model.CourseId" />
</div>

<div >@Model.Description </div>

<div style="height:20px;"></div>


@*@foreach (var myItem in Model.LstSectionsTopics.Select((value, i) => new { i, value }))
    {
        <li>The index is @myItem.i and a value is @myItem.value.SectionName</li>
    }*@

@*<table class="table table-inverse">
        <thead>
            <tr>
                <th>#</th>
                <th>Section Name</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var sec in Model.LstSectionsTopics)

            @foreach (var sec in Model.LstSectionsTopics.Select((value, i) => new { i, value }))
            {

                <tr>
                    <th scope="row">@sec.i</th>
                    <td>@sec.value.SectionName</td>
                    <td>
                            <table>
                                <tr>
                                    @foreach (var top in sec.topisBySections)
                                    {
                                        <td>@top.TopicName</td>
                                    }
                                </tr>
                            </table>

                        </td>
                    <td></td>

                </tr>
            }

        </tbody>
    </table>*@

<div class="tab_list">
    @foreach (var sec in Model.LstSectionsTopics)
    {
        <div class="accordion">
            <ul>
                <li><i class="fa fa-play-circle-o" aria-hidden="true"></i><span>@sec.SectionName</span></li>
                @*<li><i class="fa fa-check" aria-hidden="true"></i></li>
                <li><i class="fa fa-tag" aria-hidden="true"></i></li>*@
                <li>1m 46s</li>
            </ul>
        </div>
        <div class="divpanel">
            @if (sec.topisBySections.Count > 0)
            {
                @*<ul>
                    <li class="topicSize"><span>TopicName</span></li>
                    <li class="topicSize"><span>PdfLink</span></li>
                    <li class="topicSize"><span>VideoLink</span></li>
                   
                </ul>*@
                foreach (var top in sec.topisBySections)
                {
                    <ul>
                        <li class="topicSize" ><span>@top.TopicName</span></li>
                        <li class="topicSize"><span>@Html.ActionLink(top.PdfLink, "DisplayPdf", "Admin", new { FileName = top.PdfLink }, new { target = "_blank" })</span></li>
                        <li class="topicSize"><span>@Html.ActionLink(top.VideoLink, "PlayVideo", "Admin", new { FileName = top.VideoLink }, new { target = "_blank" })</span></li>
                        @*<li><i class="fa fa-check" aria-hidden="true"></i></li>
                        <li><i class="fa fa-tag" aria-hidden="true"></i></li>*@
                        <li>1m 46s</li>
                    </ul>
                }
            }
            else
            {
                <ul>
                    <li><span>No Topics</span></li>
                    @*<li><i class="fa fa-check" aria-hidden="true"></i></li>
                    <li><i class="fa fa-tag" aria-hidden="true"></i></li>
                    <li>1m 46s</li>*@
                </ul>
            }
        </div>
    }
</div>

@*<div class="tab_list">


        <div class="accordion">
            <ul>
                <li><i class="fa fa-play-circle-o" aria-hidden="true"></i><span>Course Overview</span></li>
                <li><i class="fa fa-check" aria-hidden="true"></i></li>
                <li><i class="fa fa-tag" aria-hidden="true"></i></li>
                <li>im 46s</li>
            </ul>
        </div>
        <div class="panel">
            <ul>
                <li><span>Course Overview</li>
                <li><i class="fa fa-check" aria-hidden="true"></i></li>
                <li><i class="fa fa-tag" aria-hidden="true"></i></li>
                <li>1m 46s</li>
            </ul>
            <ul>
                <li><span>Course Overview</li>
                <li><i class="fa fa-check" aria-hidden="true"></i></li>
                <li><i class="fa fa-tag" aria-hidden="true"></i></li>
                <li>1m 46s</li>
            </ul>
            <ul>
                <li><span>Course Overview</li>
                <li><i class="fa fa-check" aria-hidden="true"></i></li>
                <li><i class="fa fa-tag" aria-hidden="true"></i></li>
                <li>1m 46s</li>
            </ul>
            <ul>
                <li><span>Course Overview</li>
                <li><i class="fa fa-check" aria-hidden="true"></i></li>
                <li><i class="fa fa-tag" aria-hidden="true"></i></li>
                <li>1m 46s</li>
            </ul>
        </div>




        <div class="accordion">
            <ul>
                <li><i class="fa fa-play-circle-o" aria-hidden="true"></i><span>What is ASP.NET Core?</span></li>
                <li><i class="fa fa-check" aria-hidden="true"></i></li>
                <li><i class="fa fa-tag" aria-hidden="true"></i></li>
                <li>im 46s</li>
            </ul>
        </div>


        <div class="panel">
            <ul>
                <li><span>Course Overview</li>
                <li><i class="fa fa-check" aria-hidden="true"></i></li>
                <li><i class="fa fa-tag" aria-hidden="true"></i></li>
                <li>2m 46s</li>
            </ul>
        </div>



        <div class="accordion">
            <ul>
                <li><i class="fa fa-play-circle-o" aria-hidden="true"></i><span>HTML and CSS Basics</span></li>
                <li><i class="fa fa-check" aria-hidden="true"></i></li>
                <li><i class="fa fa-tag" aria-hidden="true"></i></li>
                <li>im 46s</li>
            </ul>
        </div>
        <div class="panel">
            <ul>
                <li><span>Course Overview</li>
                <li><i class="fa fa-check" aria-hidden="true"></i></li>
                <li><i class="fa fa-tag" aria-hidden="true"></i></li>
                <li>3m 46s</li>
            </ul>
        </div>

    </div>*@



<script>

    var acc = document.getElementsByClassName("accordion");
    var i;



    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            this.classList.toggle("active");

            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;

            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }

        }
    }
</script>
