﻿
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{
    ViewBag.Title = "Index";
}
<div class="panel panel-default">
    <div class="panel-heading bg-blue"> </div>
    <div class="panel-body">
        <h3>Video</h3>
        @*<h3><a href="@Url.Action("Index", "VideoData")" target="_blank">Download Video</a> </h3>*@
         
        <div class="col-md-12 csol-sm-6">
            <div class="video-play">

                <video id="videoElementID"  controls autoplay="autoplay" onclick="playPause()">
                    <source src="@Url.Action("PlayVideo1", "Admin",new {FileName= ViewBag.FileName })" type="video/mp4">
                </video>
                @*<video width="640" height="480" controls>
                    <source src=@ViewBag.source type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>*@
                @*<iframe width="420" height="345" src="https://www.youtube.com/embed/XGSy3_Czz8k?controls=1">

                </iframe>*@
                @*<video controls="controls">
                    <source src="~/Uploads/Videos/Drones.mp4" type="video/mp4" />
                </video>*@

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function vidplay() {
       var video = document.getElementById("Video1");
       var button = document.getElementById("play");
       if (video.paused) {
          video.play();
          button.textContent = "||";
       } else {
          video.pause();
          button.textContent = ">";
       }
    }

    function restart() {
        var video = document.getElementById("Video1");
        video.currentTime = 0;
    }

    function skip(value) {
        var video = document.getElementById("Video1");
        video.currentTime += value;
    }

    function playPause() {
        var myVideo = document.getElementById("videoElementID");
        if (myVideo.paused)
            myVideo.play();
        else
            myVideo.pause();
    }

</script>



    @*<video id="Video1">
       
        <source src="@Url.Action("PlayVideo1", "Admin",new {FileName= ViewBag.FileName })" type="video/mp4">
        HTML5 Video is required for this example.
        <a href="demo.mp4">Download the video</a> file.
    </video>

    <div id="buttonbar">
        <button id="restart" onclick="restart();">[]</button>
        <button id="rew" onclick="skip(-10)">&lt;&lt;</button>
        <button id="play" onclick="vidplay()">&gt;</button>
        <button id="fastFwd" onclick="skip(10)">&gt;&gt;</button>
    </div>*@

    @*<video width="400" height="400" controls autoplay="autoplay">
            <source src="~/Uploads/Videos/Test2.mp4" type="video/mp4" />
        </video>*@

    @*<script>
            $(document).ready(function () {
                $('#videoElementID').bind('contextmenu', function () { return false; });
            });
        </script>*@
