﻿



@model OnlineTraining.Models.TopicViewModel

@{
    ViewBag.Title = "Sections";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*@using (Ajax.BeginForm("SaveTopic", "Admin", new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess", UpdateTargetId = "ManageNewCoursesList", LoadingElementId = "loader" }))*@

@using (Html.BeginForm("Topics", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))


{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="panel panel-default">
        <div class="panel-heading bg-blue">Add Topic </div>
        <div class="panel-body">
            <div class="row ">
                <div class="col-md-3 col-sm-5 col-xs-12 ">
                    <div class="height-validation">

                        @Html.LabelFor(m => m.TopicName, new { @class = "control-label" })

                        @Html.TextBoxFor(m => m.TopicName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TopicName, null, new { @class = "text-danger" })

                        @Html.HiddenFor(m => m.SectionId, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.TopicId, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.SectionName, new { @class = "form-control" })


                    </div>
                </div>
                <div class="col-md-3 col-sm-5 col-xs-12 ">
                    <div class="height-validation">
                        @Html.LabelFor(m => m.IsActive, new { @class = "control-label" })
                        <br/>
                        @Html.CheckBoxFor(m => m.IsActive)
                        @Html.ValidationMessageFor(m => m.IsActive, null, new { @class = "text-danger" })
                    </div>

                    

                </div>
                <div class="col-md-3 col-sm-5 col-xs-12 active-validation">
                    <div class="height-validation">

                        @Html.LabelFor(m => m.PdfLink, new { @class = "control-label" })

                        <input type="file" id="PdfLink" name="PdfLink" />

                        @*@Html.TextBoxFor(m => m.PdfLink, new { @class = "form-control", type = "file" })*@
                        @Html.ValidationMessageFor(m => m.PdfLink, null, new { @class = "text-danger" })



                    </div>
                    <div class="height-validation">
                        @Html.LabelFor(m => m.VideoLink, new { @class = "control-label" })
                        <input type="file" id="VideoLink" name="VideoLink" />

                        @*@Html.TextBoxFor(m => m.VideoLink, new { @class = "form-control", type = "file" })*@
                        @Html.ValidationMessageFor(m => m.VideoLink, null, new { @class = "text-danger" })


                    </div>
                </div>

                <div class="col-md-3 col-sm-5 col-xs-12 ">
                    <div class="">
                        <label>&nbsp;</label><br class="hidden-xs">
                        <button type="submit" id="btnSaveUpdate" class="btn btn-primary">Add</button>
                        <button type="reset" onclick="$(this).resetValidation()" id="btnClear" class="btn btn-danger ">Clear</button>
                    </div>
                </div>

            <div class="row ">
                <div class="col-md-4 col-sm-5 col-xs-12 ">
                   
                </div>
               
                </div>
               
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="clearfix"></div>
    @Html.Partial("_TopicList", Model)

}



@*@Html.Action("GetTopicsBySectionId", "Admin", new { SectionId = Model.SectionId })*@  @*,new { SectionId = Model.SectionId }*@

<script>
    $(document).ready(function () {
        // alert('master');
    });
    function OnSuccess() {
        alert("Course Added");
    }
</script>



